@charset "UTF-8";

.students{
	  padding-top: 15px;
	}
.details{
	text-align: center;
 }
 body{
	background-image: url(../img/resultsbg.jpg);
	background-size: cover;
	background-repeat: repeat-y;
}
.btn{
	position: relative;
	left: 165px;
	top:30px;
}
footer{
	padding-top: 60px;
}